@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes, you got 'em, we Want 'em</h1>
    <p>Yuk Yuk Yuk</p>
    <p>I heard those chicken jokes aren't all they're cracked up to be...</p>
</div>

